<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center text-light">
    <h1 class="mt-4">Time for your score!</h1>
    <p class="lead">
      You scored {{ score }} out of 10.
      <span *ngIf="score < 4">You could've done better!</span>
      <span *ngIf="score >= 4 && score < 8">Not bad!</span>
      <span *ngIf="score >= 8">Impressive!</span>
    </p>
    <p class="lead">
      You got {{ 10 - score }} wrong.
      <span *ngIf="10 - score === 0">Amazing work!</span>
      <span *ngIf="10 - score > 0 && 10 - score < 4">You're almost there!</span>
      <span *ngIf="10 - score >= 4">You can do better!</span>
    </p>
    <canvas
      baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
    >
    </canvas>
    <button class="btn btn-secondary" (click)="restartGame()">
      Back to the start
    </button>
  </div>
</div>
