:host {
  display: block;
  height: 100vh;
  background-image: url("https://img.goodfon.com/original/1920x1200/9/27/materik-karta-mira-metall-chernyi-fon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: white;
}
