<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center text-light">
    <h3>Which country is this flag from?</h3>
    <div class="d-flex justify-content-center">
      <app-flag
        [country]="game[round].answer"
        [nameShown]="false"
        class="mx-auto"
      ></app-flag>
    </div>
    <h1 class="mt-4">{{ score }} / {{ round }}</h1>
    <p class="lead">
      <cd-timer
        #roundTimer
        [countdown]="true"
        [startTime]="15"
        (onComplete)="timeOut()"
        format="ss"
      >
      </cd-timer>
    </p>
    <div class="container mt-4">
      <div class="row">
        <div class="col-6 px-4 py-4">
          <button
            class="btn btn-outline-light w-100 rounded"
            (click)="checkAnswer(0)"
          >
            <h5>{{ game[round].options[0].name }}</h5>
          </button>
        </div>
        <div class="col-6 px-4 py-4">
          <button
            class="btn btn-outline-light w-100 rounded"
            (click)="checkAnswer(1)"
          >
            <h5>{{ game[round].options[1].name }}</h5>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6 px-4 py-4">
          <button
            class="btn btn-outline-light w-100 rounded"
            (click)="checkAnswer(2)"
          >
            <h5>{{ game[round].options[2].name }}</h5>
          </button>
        </div>
        <div class="col-6 px-4 py-4">
          <button
            class="btn btn-outline-light w-100 rounded"
            (click)="checkAnswer(3)"
          >
            <h5>{{ game[round].options[3].name }}</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
